.md-header, .md-tabs {
    background: linear-gradient(90deg, rgba(34,33,87,1) 0%, rgba(80,80,80,1) 100%);
}

.md-social__link {
    width: 2rem;
}
.md-social__link svg {
    max-height: 1.6rem;
}

.center {
    display: block;
    margin: 0 auto;
}